<section>
  <h1>Navigation</h1>
  <ul id="recent_posts">
     <li class="post"><a href="/installation">Installation</a></li>
     <li class="post"><a href="/kohana-configuration">Configuration</a></li>
     <li class="post"><a href="/first-run">Running your application</a></li>
     <li class="post"><a href="/configuration/modules">Configuring Modules</a></li>
     <li class="post"><a href="/application/basics">Application Basics</a></li>
     <li class="post"><a href="/application/models">Creating Models</a></li>
     <li class="post"><a href="/application/data-manipulation">Common Database Operations</a></li>
     <li class="post"><a href="/application/web-forms">Creating Forms</a></li>
  </ul>
</section>
