<section>
  <h1>Navigation</h1>
  <ul id="recent_posts">
     <li class="post"><a href="{{ root_url }}installation">Installation</a></li>
     <li class="post"><a href="{{ root_url }}kohana-configuration">Configuration</a></li>
     <li class="post"><a href="{{ root_url }}first-run">Running your application</a></li>
     <li class="post"><a href="{{ root_url }}configuration/modules">Configuring Modules</a></li>
     <li class="post"><a href="{{ root_url }}application/basics">Application Basics</a></li>
     <li class="post"><a href="{{ root_url }}application/model">Creating Models</a></li>
     <li class="post"><a href="{{ root_url }}application/data-manipulation">Common Database Operations</a></li>
     <li class="post"><a href="{{ root_url }}application/web-forms">Creating Forms</a></li>
  </ul>
</section>
